@font-face {
    font-family: 'Palanquin';
    src: url('palanquin-regular-webfont.eot');
    src: url('palanquin-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('palanquin-regular-webfont.woff2') format('woff2'),
         url('palanquin-regular-webfont.woff') format('woff'),
         url('palanquin-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}